@page "/demandes"
<PageTitle>List des demandes</PageTitle>"
<h3>ListeDemandes</h3>

 <table class="table table-striped">
     <thead>
         <tr>
             <th>Id</th>
             <th>Nom du citoyen</th>
             <th>Status</th>
             <th>Type de demandes</th>
             <th>Action</th>
         </tr>
     </thead>
     <tbody>
         <tr>
             <td>1</td>
             <td>Mike</td>
             <td>En Cours</td>
             <td>Accès à la salle communale</td>
             <td>?</td>
         </tr>
     </tbody>
 </table>
